<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
      <h1>Pokedex</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/pokemons/new">Add a New Pokemon</a>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
